
body{
    background-color: #F7F9FB;
    font-family: 'Advent Pro';font-size: 22px;
}

.head{
    background: #2F2FA2;
    padding-top:30px;
    min-height:70px;
    border-bottom:#C4DBF6 3px solid;
    margin-bottom: -100px;
  }

.heading{
    font-size:40px;
    text-align: center;
    color: #F64C72;
}


/*Api*/

  
  .container{
    width: 500px;
    height: 300px;
    margin:25vh auto;
    border-radius: 25px;
  }
  
  .h2 {
    height: 20%;
    background-color: #2F2FA2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    position:relative;
    border-bottom:#C4DBF6 3px solid;
    padding-top: 20px;
  }
  
  #temp, #humidity-div {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 60px;
    color: #C4DBF6;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .city-icon-holder {
    position:absolute;
    left: 25%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #city-name {
    font-family: "Courier New";
    font-size: 30px;
    font-weight: bold;
    color: #C4DBF6;
  }
  
  #icon {
    width:50%;
  }
  
  #main{
    width: 100%;
    height: 100%;
    position: relative;
    
  }
  
  .city-icon {
    height: 80%;
    width: 50%;
    border-bottom-left-radius: 25px;
    background-color:#99738E;
  }
  
  .temperature {
    position: absolute;
    left: 50%;
    top:0%;
    height: 40%;
    width: 50%;
    background-color: #242582;
  }
  
  .humidity {
    height: 40%;
    width: 50%;
    position:absolute;
    left:50%;
    top:40%;
    border-bottom-right-radius: 25px;
    background-color: #F64C72;
  }
  
  #search-btn {
    width: 60px;
    height:60px;
    color: #F64C72;
  }
  
  #search-txt {
    color: #F64C72;
    height:30px;
    border-radius: 10px;
    border-style:none;
    outline:none;
    padding-right:1px;
    padding-left:1px;
    text-align:center;
    margin-bottom: 10px;
  }
  
  .search {
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
     transform:translate(-50%,-50%);
  }

  /*Input Box*/

  .heading1{
    text-align: center;
    font-size: 30px; 
    color:#F64C72;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

  .box1{
      background-color: #2F2FA2;
      margin-top: -100px;
   
  }
  .container2{
      text-align: center;
      font-size: 30px; 
      
  }


  .button{
      background-color:#2F2FA2;
      color: #F64C72;
      border-radius: 5px;
      padding-top: 1px;
      margin-right:auto;
      margin-left:auto;
      display: block;
      margin-top: -150px;
      margin-bottom: 150px;
      padding: 0.3em 0.3em;

  }

  .input{
      background-color:#C4DBF6;
      border-radius: 5px;
      padding: 1em 1em;
      border-style: solid;
      border-color: #242582;
      margin-bottom: 200px;
 }

/*Outfit Examples*/

.image{
    display: block;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 300px;
  border: 3px solid;
  border-color: #99738E;

  }
  .h3{
    text-align: left;
    font-size: 30px; 
    color:#99738E;
    margin-bottom: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom:#2F2FA2 3px solid;
}
 

/*Footer*/

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:20px;
    margin-top:20px;  
    color: #F7F9FB;
    background-color: #2F2FA2;
    text-align: center;
  }